body {
    margin: 0;
    padding: 0;
    color: #FFF;
    font-family: sans-serif;
    background: url('./images/background.jpg') no-repeat center;
    background-size: cover;
}

.player-controls {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}